@font-face {
  font-family: "Nunito";
  src: url("Nunito-Regular.woff2") format("woff2"), url("Nunito-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("./Roboto-Bold.eot");
  src: url("./Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("./Roboto-Bold.woff2") format("woff2"), url("./Roboto-Bold.woff") format("woff"), url("./Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}